#title {
  left: 50%;
  color: white;
  font-size: 34px;
  margin-top: 3.6vh;
  position: absolute;
  pointer-events: none;
  transform: translateX(-50%);
  font-family: 'Inter', sans-serif;
}

/* when screen is narrow - move panel higher */
@media (max-height: 600px) {
  #title {
    font-size: 26px;
  }
}
